@import "../../assets/css/dimensions";

:root {
	// Colors
	--success: #007E33;
	--info: #0099CC;
	--error: #CC0000;

}

.client-upload-main {
  .add-files-main {
    position: relative;
    background: #f3ffff !important;
    height: 300px !important;
    .add-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }
  .upload-success-main {
    tr {
      td {
        font-size: $smallest !important;
      }
    }
  }
  .card {
    border: 1px solid #9d9595 !important;
    border: none !important;
  }
  .border-none {
    border: none !important;
  }
  .loader {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 4px solid transparent;
    position: relative;
    padding: 1px;
    bottom: 23px;
  }
  .loader:before {
    content: "";
    border-radius: 10px;
    position: absolute;
    top: -6px;
    right: -4px;
    bottom: -4px;
    left: -4px;
  }
  .loader .loaderBar {
    position: absolute;
    border-radius: 10px;
    top: -1px;
    right: 100%;
    bottom: 0;
    left: 0;
    background: blue;
    width: 0;
    animation: borealisBar 2s linear infinite;
  }
  .transactions-list {
    width: fit-content;
  }
  @keyframes borealisBar {
    0% {
      left: 0%;
      right: 100%;
      width: 10%;
    }
    10% {
      left: 0%;
      right: 75%;
      width: 25%;
    }
    90% {
      right: 0%;
      left: 75%;
      width: 25%;
    }
    100% {
      left: 100%;
      right: 0%;
      width: 0%;
    }
  }
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 5px;
  width: 100%;
  height: 40%;
  text-align: center;
  background: #f4f6f7;
}
@media only screen and (max-width: 1550px){
  #drop-area{
    height: 30%;
  }
}
#drop-area.highlight {
  border-color: purple;
}
#fileElem {
  display: none;
}
.my-form {
  margin-bottom: 10px;
}
.cursor-pointer {
  cursor: pointer !important;
}

@media (min-width: 577px) {
  .downloadIcon {
    display: block !important;
  }
}
/**
* Direct element style apply will affect the overall 
* should use the class or id identifier 
*/
// label {
//   margin-bottom: 0px !important;
// }
._loading_overlay_overlay {
  height: 100vh;
  width: 99vw;
  position: absolute;
  left: -24rem;
  top: -4rem;
  overflow-x: hidden !important;
}

.space-between p {
  color: rgb(4, 65, 235);
}


// New UI

.serachedPaymentResultListHeaderColor {
	// background-color: #f1f1f1;
	color: var(--dark-color);
	width: '100%';
	min-width: fit-content;
	font-size: var(--font-medium);
	font-weight: 500;
	border-bottom: 1px solid #6654C3;
}

.serachedPaymentResultGridPagination>.MuiDataGrid-footerContainer {
	display: none;
	// justify-content: center;
}

// .table-cell-classname{
// 	font-size: 16px;
// 	font-weight: 400;
// 	color: #1A1A1C;
// }

// .table-cell-classname-amount{
// 	font-size: 16px;
// 	font-weight: 500;
// 	color: #1A1A1C;
// }

// .table-cell-classname-actions{
// 	font-size: 16px;
// 	font-weight: 400;
// 	color: #1A1A1C;
// 	overflow: visible !important;
// 	border: none;
// 	outline: none;
// }

// .table-cell-classname-actions:focus , .table-cell-classname-actions:active{
// 	border: none;
// 	outline: none;
// }

// .serachedPaymentResultGridPagination{
// 	width: "100%";
// 	// overflow-x: scroll;
// }

// .serachedPaymentResultGridPagination p {
// 	color: #1A1A1C;
// 	margin-top: 10%;
// }

// // .MuiDataGrid-virtualScroller , .serachedPaymentResultGridPagination > .MuiDataGrid-main{
// // 	// z-index: 1000000000000;
// // 	// overflow: visible !important;
// // }

// .serachedPaymentResultGridPagination *:focus{
// 	border: none;
// 	outline: none !important;
// }

.text-danger{
  font-size: 1.1rem !important;
}

.error-box{
  outline: none !important;
  border: none !important;
}