.inlineCenter{
    display: flex;
    align-items: center;
}

.tableHeaderStyle {
	background-color:var(--primary-color);
	color: rgb(255, 255, 255);
	width: '100%';
	min-width: fit-content;
	font-size: var(--font-medium);
	font-weight: 800;
	border-bottom: 1px solid #6654C3;
}